form {
  margin-top: 16px;
  .form-group {
    #statusSelect {
      width: 150px;
      margin: 0 16px;
    }
    #titleSearchInput {
      width: 300px !important;
      height: 41px;
    }
  }
}

.card-columns {
  .card {
    p {
      margin: 0;
    }
  }
}

.carousel-inner {
  height: calc(100vh - 56px);
}
